.cta {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.08);
  color: #fff;
  background-color: #eb5727;
  border-color: #eb5727;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  border-radius: 4px;
  transition: all 0s;
  text-decoration: none;
}

.big-cta {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.small-cta {
  padding: 0.3rem 0.7rem;
  font-size: 1.1rem;
  height: 43px;
}
