.main-header {
  display: flex;
  justify-content: space-between;
}

.logo-group {
  display: flex;
  text-decoration: none;
  margin-top: 20px;
}

.logo-img {
  margin-top: 5px;
  width: 60px;
}

.logo-type {
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 20px;
}

/* for phones only */
@media (max-width: 599px) {
  .logo-type {
    font-size: 1.3rem;
    margin-top: 5px;
  }
  .logo-img {
    margin-top: 5px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 50px;
    margin-top: 20px;
  }
}
